<div style="margin-top:7%; margin-bottom:7%">
  <div class="row">
      <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Change Password</h2>                    
                  <div class="panel-body">
    
                    <form id="register-form" role="form" [formGroup]="rform" >    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-text-background color-blue"></i></span>
                          <input id="id" name="id" class="form-control" formControlName="id" 
                                    placeholder="User ID" type="text">
                        </div>
                      </div>
                       <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input type="password" id="oldpass" class="form-control" name="oldpass" 
                               formControlName="oldpass" placeholder="Old Password" required>
                        </div>
                      </div>  
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input type="password" id="newpass" class="form-control" name="newpass" 
                               formControlName="newpass" placeholder="New Password" required>
                        </div>
                      </div>  
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input type="password" id="newpass1" class="form-control" name="newpass1" 
                               formControlName="newpass1" placeholder="Confirm New Password" required>
                        </div>
                      </div>  
                      <div class="form-group">
                        <!-- <input name="recover-submit" *ngIf="!changed" class="btn btn-lg btn-danger btn-block" 
                              (click)="onChange()" 
                              value="Reset Password" type="button" [disabled]="!rform.valid || reseting" > -->
                        <button type="button"   *ngIf="!changed"
                                    (click)="onChange()" 
                                    [disabled]="!rform.valid || reseting" 
                                    class="btn btn-large btn-block btn-danger">
                                    <span class="glyphicon glyphicon-home"></span> UPDATE PASSWORD</button>  

                      </div>
                       <div class="form-group">
                        <button type="button" 
                                    (click)="onBack()"
                                    class="btn btn-large btn-block btn-primary">
                                    <span class="glyphicon glyphicon-home"></span> HOME</button>   
                        
                      </div>
                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          <div>
            <span class="help-block">{{message}}</span>
          </div>     
        </div> 
      
</div>
</div>

